body{
	background: #2E2E2E url('imagens/fundo.jpg') scroll;
	font: 16px Arial, Georgia, serif;
	margin: 0px 200px;
	width: 900px;
}
#cabecalho{
	padding:  0px;
}

.imagem-principal{
	height: 445px;
	width: 900px;
}

a{
	color: inherit;
	text-decoration: none;
}
.menu{	
	background: orangered;
	color: whitesmoke;
	font-size: 24px;
	font-weight: bold;
	height: 30px;
	padding: 10px;
	margin: 0px;
}

#conteudo-principal{
	text-align: center;
	color: white;
	background: #2E2E2E;
	padding: 5px;
	margin: 0px;
}

.titulos{
	color: floralwhite;
	padding: 5px;
	margin: 0px;
}

.destaque{
	color: orangered;
}
.centralizar{
	text-align: center;
	color: white;
	padding: 5px;
	margin: 0px;
}

.imagens-conteudo{
	border: 10px solid orangered;
	height: 325px;
	width: 650px;
}
.img-menor{
	border: 10px solid orangered;
}

.titulos2{
	text-align: center;
	color: orangered;
	font-weight: bold;
	font-size: 24px;
	padding: 5px;
	margin: 0px;
}